---


const data = [
    {
        number: 40,
        title: "Clients Satisfaits",
        description:
            "Offrant des services de haute qualité pour une variété d'industries et d'entreprises.",
        icon: "/icons/first.svg"
    },
    {
        number: 70,
        title: "Sécurité et Fiabilité",
        description:
            "Nous garantissons la sécurité et la fiabilité dans toutes nos prestations.",
        icon: "/icons/second.svg"
    },
    {
        number: 149,
        title: "Projets Complétés",
        description:
            "De nombreux projets complétés avec succès, témoignant de notre expertise et de notre engagement.",
        icon: "/icons/third.svg"
    },
];

---

<div
    class="min-h-[30rem] bg-white flex justify-center items-start md:items-center px-3 w-full"
>
    <section class="grid gap-12 max-w-7xl md:grid-cols-3 md:gap-16">
        {data.map((item, index) => (
            <article>
                <div
                    class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6"
                >
                    <img src={item.icon} alt={item.title} />
                </div>
                <h2>
                    <span
                        class="flex tabular-nums text-slate-900 text-5xl font-extrabold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
                        x-data="{ shown: false }"
                        x-intersect="shown = true"
                        :class="shown && '[--num:40]'"
                    >
                        <span class="supports-[counter-set]:sr-only">{item.number}</span>K+
                    </span>
                    <span
                        class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary/60 mb-2"
                    >
                        {item.title}
                    </span>
                </h2>
                <p class="text-sm text-slate-500">
                    {item.description}
                </p>
            </article>
        ))} 
    </section>
</div>

<style>
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
</style>
