---
import Image from "astro/components/Image.astro";

const users = [
    {
        name: "Reda Mansouri",
        role: "Lymo Client",
        avatar: "./avatars/avatar-1.jpg",
        testimonial:
            "L'interface est tellement intuitive que même mes employés les moins technophiles l'ont adoptée rapidement",
    },
    {
        name: "Sarah Alaoui",
        role: "Marketing Manager",
        avatar: "./avatars/avatar-2.jpg",
        testimonial:
            "Lymo a totalement changé notre façon de gérer les prospects. C'est une véritable révolution dans notre processus de conversion. Grâce à Lymo",
    },
    {
        name: "Karim Benkirane",
        role: "CEO",
        avatar: "./avatars/avatar-3.jpg",
        testimonial:
            "Nous avons pu réduire nos coûts de gestion de la relation client de 30% en seulement 3 mois. Lymo est un outil indispensable pour toute entreprise qui souhaite optimiser ses performances.",

    }
];
---

<div
    class="relative p-3 mt-5 w-full bg-slate-900 flex justify-center items-center min-h-[32rem]"
>
    <section class="text-center relative max-w-6xl">
        <div class="font-nycd text-xl text-primary mb-4">
            <span class="relative inline-flex">
                <span>Notre promesse</span>
                <svg
                    class="fill-primary absolute bottom-0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="132"
                    height="4"
                >
                    <path
                        fill-opacity=".4"
                        fill-rule="evenodd"
                        d="M131.014 2.344s-39.52 1.318-64.973 1.593c-25.456.24-65.013-.282-65.013-.282C-.34 3.623-.332 1.732.987 1.656c0 0 39.52-1.32 64.973-1.593 25.455-.24 65.012.282 65.012.282 1.356.184 1.37 1.86.042 1.999"
                    ></path>
                </svg>
            </span>
        </div>
        <div
            class=" w-full mt-10 max-w-7xl gap-4 flex justify-between items-center flex-col lg:flex-row"
        >
            {
                users.map((user, index) => (
                    <div class=" min-h-52 bg-slate-800 border border-slate-400/35 rounded-md p-2 w-full  flex flex-col justify-start items-start gap-4">
                        <div
                        class="flex justify-start items-center gap-2">
                            <img
                                src={user.avatar}
                                alt={user.name}
                                class="size-14 rounded-full"
                            />

                            <div class="flex justify-start flex-col items-start ">
                                <span class="text-slate-50 text-base ">
                                    {user.name}
                                </span>
                                <span class="text-slate-400 text-sm">
                                    {user.role}
                                </span>
                            </div>
                        </div>
                        
                        <p
                            class="text-slate-400 line-clamp-4 text-start
                    text-sm max-w-2xl"
                        >
                            {user.testimonial}
                        </p>
                    </div>
                ))
            }
        </div>
    </section>
</div>
